/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Content container */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

/* Header styling */
header {
    text-align: center;
    background: #ff5e7d;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 25px
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
}

.inputs, .results {
    width: 45%;
}

/* Input and result */
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff5e7d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d83a56;
}

/* Visual elements */
.inputs {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.results {
    padding-left: 20px;
}

.results h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.results span {
    font-size: 28px;
    font-weight: bold;
    color: #ff5e7d;
}

/* Additional visual elements */
.calculator:before {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #ff5e7d, #ffa54f);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}
